
html, body {
  margin: 0;
  padding: 0;
}

body{background-color: white;}

header img{
    float: center;
    background:transparent;
    padding: 30px;
    background-color: mediumturquoise;
}


header h1{
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
    float:right;
  position: relative;
  font-size: 1.4em;
    color: white;
    background-color: mediumturquoise;
    padding-top: 15px;
    padding-right: 40px;
}

h3{
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
}


header{
    background-color: mediumturquoise;
    width:100%;
}

.wrapper {
	margin-top: 10%;
	text-align:center;
    height: 20%;
    display:block;
    margin: auto;


    position: absolute;
  	left:0;
  	right: 0;
  	top: 20%;



  	width: 60%;

  	-webkit-column-count: 3;
  	column-count: 3;

}


.innerdivs {
  height: 80%;
  background-color: #faf7fa;
  text-align: justify;
  width: 80%;
  padding: 10px;
  overflow: auto;
  border-radius:5px;

  -webkit-box-shadow: inset 0px 2px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 2px 15px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 2px 15px 0px rgba(0,0,0,0.75);
}


.rels{
	margin: auto;
	text-align:left;
	margin-top: 20%;
	width:70%;
	height: 30%;
	position:  relative;
	background-color: white;
	padding: 10px;
	overflow: auto;

	-webkit-box-shadow: inset 0px 2px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 2px 15px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 2px 15px 0px rgba(0,0,0,0.75);

}


.textAreaColumn{
	margin-top: 10%;
	text-align:center;
    height: 30%;
    display:block;
    margin: auto;


    position: absolute;
  	left:0;
  	right: 0;
  	top: 20%;



  	width: 60%;

  	-webkit-column-count: 2;
  	column-count: 2;
}
.textAreaColumn div{
    width:80%;
    padding:10px;
    box-sizing: border-box;
}

.textAreaColumn div textarea{
    box-sizing: border-box;
    width:100%;
    min-height:150px;
}

.explain {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
	margin: auto;
	text-align:left;
	margin-top: 1%;
	width:50%;
	height: 30%;
	position:  relative;
}
div.form
{
	margin-top: 15%;
    display: block;
    text-align: center;
}

form {
font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
	display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;

}
input{
font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
 margin-right:50px;
}

input[type=submit] {
	margin-top: 15%;
	position:  relative;
	padding:5px 15px; background:#ccc; border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; }

.explain > div {
  margin: auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
