<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <header>
            <h1>ArgMine</h1>
        </header>
        <form method="POST">
            <label for="sdata">Source Dataset:</label><br>
            <input type="text" id="sdata" name="sdata" value=""><br>
            <label for="edata">External Dataset:</label><br>
            <input type="text" id="edata" name="edata" value=""><br><br>
            <label for="aif_mode"> AIF Map Mode: </label>
            <input type="checkbox" id="aif_mode" name="aif_mode" value="true">
            <input type="hidden" id="aif_mode" name="aif_mode" value="false">
            <label for="han_mode"> Hansard ITC: </label>
            <input type="checkbox" id="han_mode" name="han_mode" value="true">
            <input type="hidden" id="han_mode" name="han_mode" value="false">
            <input type="submit" value="Submit">
	    </form>
    </body>
</html>
